@media (max-width: 960px) {
    #nav-header {
        .language-list {
           
           img {
               width: 50px; 
           }
           .language-item {
               display: inline-block;
           }
        }
        .sky-mega-menu li > div {
            position: static;
            opacity: 1;
            transform: none;
            width: 100%;
        }
    }

}

@media screen and (max-width: 480px) {
    .maycontainer {
      height: 390px;
      background: url(../img/fon11.jpg);
      background-size: 225%;
      -webkit-clip-path: none;
    }
  }

  @media screen and (max-width: 480px) {
    .hero_container {
      padding-top: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .hero-title {
      font-size: 25px;
      margin: 0px auto;
      filter: drop-shadow(5px 7px 4px black);
    }
  }

  @media screen and (max-width: 480px) {
    .text_container-title {
      font-size: 11px;
    }
  }
  @media screen and (max-width: 480px) {
    .text_container-title-item {
      font-size: 7px;
      letter-spacing: 1.2px;
      margin: auto auto 20px;
      line-height: 13px;
    }
  }
  @media screen and (max-width: 480px) {
    .hero_list {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 480px) {
    .hero_list-item {
      display: inline-block;
      margin-bottom: 7px;
      fill: #56a5e2;
      filter: drop-shadow(5px 7px 4px black);
      max-height: 64px;
      width: 95%;

}
    }

  @media screen and (max-width: 480px) {
    .hero_list-item-img {
      min-height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      
    }
  }
  @media screen and (max-width: 480px) {
    .hero_list-img {
        max-height: 70px;
        margin-bottom: 10px;
        margin-left: 29px;
        margin-bottom: 30px;
        max-height: 50px;
        width: 50px;
        fill: #56a5e2;
        filter: drop-shadow(5px 7px 4px black);
    }
  }
  @media screen and (max-width: 480px) {
    .hero_list-item-text {
      font-size: 10px;
      line-height: 12px;
      margin-top: 16px;
      margin-left: 10px;
    }
  }