.title_section {
    padding: 10px 0 0px;
}
.title_section::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffff;
    z-index: -1;
}
.title_section:active {
    display: table;
    width: 100%;
    clear: both;
    content: '';
}
.breadcrumb {
    border-radius: 0;
    background: none;
    padding: 0px 0px 0px 20px;
}
.breadcrumb li {
    font-size: 20px;
    line-height: 20px;
    color: rgb(170, 192, 251);
    text-shadow: none;
    padding-left: 10px;
}

.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}
.breadcrumb li.divider::after {
    content: '|';
    font: 24px/30px 'Roboto', sans-serif;
    color: #222222;
}
.wrapper-company {
    background-color: white;
    height: 390px;
}

.container-wrapper {
    background: url(/img/imgfon1.png) no-repeat;
    width: 100%;
    height: 160px;
    max-width: 1500px;
    margin: 0 auto;
    

}

.company-container {
    width: 46%;
    position: absolute;
    margin-top: 90px;
}

.company_title {
    font-size: 30px;
    /* margin: auto auto 73px; */
    max-width: 985px;
    text-align: center;
    color: white;
    /* padding: 0px 16px 0px 0px; */
    color: white;
    font-family: "Montserrat", Sans-serif;
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* text-transform: uppercase; */
    font-style: normal;
    text-decoration: none;
    /* line-height: 15px; */
    letter-spacing: 1.2px;
    color: linear-gradient(to top, #fefcea, #f1da36);
    font-family: 'Rubik One', sans-serif;
    font-size: 70px;
    /* text-transform: uppercase; */
    background: linear-gradient(45deg, #adb5bd 33%, #dee2e6 56%, #007bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: block;
    margin: 75x auto;
    filter: drop-shadow(5px 7px 4px black);
}
.company-text-page {
    -webkit-filter: blur(1.8px);
    font-size: 58px;
    color: white;
    padding: 0px 50px -27px -16px;
    color: #cdd3d8;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1.2px;
    width: 83%;
    margin: auto;
    text-align: justify;
}
.section-variant {
    position: relative;
    z-index: 20;
}
.way-point {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% - 2px);
    display: flex;
    cursor: pointer;
    fill: cornflowerblue;
}
.way-point-svg {
    x: 0px;
    y: 0px;
    width: 253px;
    height: 38px;
}
.way-point_icon {
    font-size: 30px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    transition: .4s cubic-bezier(.68,-.55,.27,1.55) all;
}
.way-point_icon::before {
    content: "\2193";
}
.company-variant-page {
    width: 100%;
    height: 600px;
    background: rgb(234, 235, 235);
}
.company-variant-page-text {
    font-size: 20px;
    padding: 0px 50px -27px -16px;
    color: #000000;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.2px;
    width: 82%;
    margin: auto;
    text-align: justify;
    padding-top: 30px;
    text-indent: 30px;

}



.blok{
    color:#fff;
    z-index:1;
    height:50px;
    width:50px;
    background:#95CAE4;
    /*
       -webkit-animation-name:zwevend;
       -webkit-animation-duration:1s;
       -webkit-animation-timing-function:ease-in;
       -webkit-animation-iteration-count:infinite;
       -webkit-animation-fill-mode:forwards;
       -webkit-animation-direction:alternate;
    */
  }
  
  .blok1{
    opacity:0.4;
    padding:10px;
    z-index:2;
    position:relative;
    background:#279B61;
     -webkit-animation: zwevend 30s ease-in 1s infinite forwards;
  }
  /* -webkit-animation: name duration timing iteration fill direction */
  
  .blok2{
    opacity:0.4;
     margin-top:-10px;
    z-index:1;
    position:relative;
    background:#993333;
     -webkit-animation: zwevend 50s linear 1s infinite forwards;
  }
  /* -webkit-animation: name duration timing iteration fill direction */
  
  .blok3{
    opacity:0.4;
    height:150px;
    width:150px;
     margin-top:-60px;
    z-index:3;
    position:relative;
    background:#3e3e3e;
     -webkit-animation: zwevend 15s linear 1s infinite forwards;
  }
  /* -webkit-animation: name duration timing iteration fill direction */
  
  
  @-webkit-keyframes zwevend{
    from{-webkit-transform:translateX(0px);}
    to{-webkit-transform:translateX(2000px);}
  }