/* =============================================== /*
/*                                                 /* 
/*                     Messages                    /*
/*                                                 /*
/* =============================================== */

.jobs {
    width: 100%;
    height: auto;
  }
  
  #messages {
    position: relative;
    margin: 50px auto;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dashed #474544;
      width: 100%;
      display: flex;
      flex-direction: row;
      font-weight: 600;
      font-size: 15px;
      &:nth-child(2n) {
        .infos {
          margin-left: 20px;
          a {
            -webkit-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
            -moz-box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
            box-shadow: 1px 1px 0 1px rgba(90, 81, 15, 0.2);
            left: inherit;
          }
        }
        .content {
          border-width: 1px 3px 4px 4px;
          &:after, &:before {
            right: -9px;
            left: inherit;
            -webkit-transform: rotate(41deg);
            -moz-transform: rotate(41deg);
            -o-transform: rotate(41deg);
            transform: rotate(41deg);
          }
        }
        .facebook {
          right: -10px;
        }
        .twitter {
          right: -5%;
        }
        .github {
          right: -1%;
        }
      }
    }
    .infos {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      padding: 3px;
      width: 160px;
      height: 160px;
      border: 5px solid #474544;
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      a {
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
        border-radius: 17px;
        -webkit-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
        -moz-box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
        box-shadow: -1px 1px 0 1px rgba(90, 81, 15, 0.2);
        position: absolute;
        width: 20px;
        height: 22px;
        background-color: #d5d2a8;
        color: #fff;
        text-decoration: none;
        text-indent: -10000px;
        font-size: 11px;
        &:hover {
          padding: 0 10px 0 18px;
          width: auto;
          border: none;
          text-indent: 0;
          opacity: 0.95;
        }
      }
    }
    img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      width: 100%;
    }
  }
  .jobs-content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    padding: 15px 25px;
    width: 80%;
    border-width: 3px 3px 3px 3px;
    border-style: solid;
    border-color: #474544;
    background-color: #ffffff;
    /* ==================================================================== /*
    /*                                                                      /* 
    /*   + Css Patterns from : http://lea.verou.me/css3patterns/            /* 
    /*   + Arbaoui mehdi : Fix a gradient color bug in OPERA,FIREFOX        /*
    /*     and SAFARI (only new versions)                                   /*
    /*                                                                      /*
    /* ==================================================================== */
    background-size: 100% 10px;
    color: #333;
  }
  
  /* ====================================================================================== /*
  /*                                                                                        /* 
  /*   + Talk bubble with shadow                                                            /* 
  /*     From http://forrst.com/posts/How_to_Make_a_Pure_CSS_Speech_Bubble_With_a_Drop-PU1  /*
  /*   + Arbaoui mehdi: Change position (left and right) of arrow                        /*
  /*                                                                                        /*
  /* ====================================================================================== */
  
  .content:before {
    border-bottom: 23px solid transparent;
    border-right: 20px solid #ece5bd;
    top: 49px;
    content: '';
    position: absolute;
    left: -9px;
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    transform: rotate(220deg);
  }
  .jobs-content-text_ol::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 0.5em;
    left: -10px;
    background-color: #3293da;
    margin: 8px 10px 0px 0px;
   }

  .jobs-content {
    h3 {
      font: 30px "Satisfy";
      margin: 0;
      padding: 0;
      font-weight: normal;
      color: #56a5e2;
    }
    p {
      margin: 10px 0 0 0;
      font-size: 15px;
      line-height: 1.7em;
      color: black;
      a {
        text-decoration: none;
        background-color: #f7f3c5;
        border-bottom: solid 1px #cfcebe;
        color: #834202;
        padding: 1px 4px;
        &:hover {
          background-color: #f5ec82;
        }
      }
    }
    b {
      display: block;
      color: #75280c;
      font: italic normal 17px Georgia;
    }
    &:before {
      top: 48px;
      left: -11px;
      border-right: 19px solid rgba(0, 0, 0, 0.1);
    }
  }
  
  // Specific
  $c-main: hsla(0, 100%, 100%, .75);
  $c-secondary: hsla(200, 5%, 11%, 1);
  $c-secondary-complementary: hsla(0, 0%, 13%, 1);
  $c-third: hsla(180, 4%, 36%, 1);
  $c-malabars: hsla(178, 40%, 49%, 1);
  $c-shadow-main: hsla(240, 3%, 19%, 1);
  $c-shadow-secondary: hsla(0, 0%, 0%, .26);
  $bg-main: hsla(210, 3%, 15%, 1);
  $media550: 550px;
  $media768: 768px;
  .sidebar__logo,
  .navbar__logo {
    position: relative;
    margin-top: .5rem;
    padding-top: .4rem;
    z-index: 10;
    .logo {
      top: 50%;
      left: 50%;
      color: $c-main;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: -4px;
      text-shadow: 0 .2rem .4rem $c-shadow-main, 0 .2rem .4rem $c-shadow-main;
      transform: translate(-50%, 100%);
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 2rem;
      padding: 1rem;
      border: 5px solid $c-malabars;
      transform: translate(-50%, -50%) rotate(0deg);
      animation: 10s infinite alternate ease-in-out spin;
    }
    &::before {
      border-color: $c-malabars $c-malabars transparent transparent;
      z-index: -1;
    }
    &::after {
      border-color: transparent transparent $c-malabars $c-malabars;
      z-index: 1;
      box-shadow: 4px 2px 1px $c-shadow-main;
    }
    
    @media screen and (max-width: $media768) {
      margin: 0 0 0 1.5rem;
    }
    @media screen and (max-width: $media550) {
      margin: 0 0 0 2.5rem;
    }
  }

  @import "media.scss";