
<div class="header_team">

<!--Content before waves-->
<div class="inner-header flex">
  <div class="title_section">
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="divider"></li>
        <li class="activ">О компании</li>
    </ul>

</div>
<!--Just the logo.. Don't mind this-->
<img class="fon-header_team" src="/img/imgfon1.png">
  </div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</div>
<!--Waves end-->



<!--<div class="assembly a">
  <div class="comp-3d comp-3d--i a">
    <div class="cube">
      <div class="cube__face a" ></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a "></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
    <div class="cube a">
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
      <div class="cube__face a"></div>
    </div>
  </div>
  <div class="comp-3d comp-3d--o a">
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
    <div class="pos a">
      <div class="cube a">
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
        <div class="cube__face a"></div>
      </div>
    </div>
  </div>
</div>-->




<section class="section-variant">
<div class="company-variant-page">
<p class="company-variant-page-text">
    Cовременная российская IT- компания, оказывающая полный спектр по проектированию, разработке 
    и внедрению программного обеспечения. Внедряемые подходы и решения основаны на эффективных технологиях 
    управления и приносят реальный экономический эффект для Заказчиков. 
</p>
<p class="company-variant-page-text">
    Наше достояние-команда профессионалов, обладающих высокими компетенциями в своих областях и способные решать задачи любой сложности,
    а стратегическое партнерство с ведущими российскими и зарубежными компаниями предоставляет нашим заказчикам возможность
    получения конкурентноспособных решений мирового уровня.
</p>
<p class="company-variant-page-text">
    Основу деятельности компании составляет проектная деятельность, это определяет характер
    организационной структуры. Матричная структура управления позволяет масштабировать бизнес
    в зависимости от объемов проектов и гарантировать выполнение обязательств перед нашими
    клиентами, партнерами и сотрудниками. Дополнительной гарантией результата является
    используемая в компании система персональной ответственностью каждого участника проекта за
    общий результат. Проектная деятельность проводится с использованием международных
    стандартов управления проектами PMI. Также используемая в компании система менеджмента
    качества в соответствие с международным стандартом ISO 9001:2000 обеспечивает стабильность
    качества предлагаемых услуг
</p>
<p class="company-variant-page-text">
   Портфель услуг и продуктов компании непрерывно расширяется, что позволяет нам реализовывать 
   проекты и для государственных заказчиков, и для коммерческих компаний.
</p>
 </div>

<section id="about" class="bg-image">
          <section class="well-1">
            <div class="container relative">
             <h2 class="border-left_about">
               <p class='border-left_about_text'>Продукты Sorins Group</p>
             </h2>
              <div class="row offset-1">
                <div class="col-md-6">
                  <p class="offset-1_about_text">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"> — результат работы сплоченной команды не просто сотрудников, а единомышленников. 
                    </font>
                    <font style="vertical-align: inherit;">Благодаря этому, каждый наш Заказчик получает уникальный подход и качественный результат в строго 
    оговоренные сроки.

                    </font>
                    <font style="vertical-align: inherit;">Мы всегда открыты для сотрудничества и уверены, что сможем решить найти решение для любой, даже самой 
    сложной бизнес-задачи. 

                    </font>
                    
                         </font>
                         </p>
                </div>
              </div>
              <div class="about-img"><img src="/img/about.png" alt=""></div>
            </div>
          </section>
          <section class="well-2 bg-color">
            <div class="container">
              <div class="row">
                <div style="clear: left" class="col-md-6">
                  <h5 class="primary-clr">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">С Уважением </font><br>
                      <font style="vertical-align: inherit;">Генеральный директор Sorins Group</font><br>
                      <font style="vertical-align: inherit;">Володин Денис</font>
                      </font>
                      </h5>
                </div>
              </div>
            </div>
          </section>
        </section>
  </section>




  <section class="section-form">
  <div id="container-form-content">
{{#if rus}}      
    <h1 class="form-title">&bull; Расскажите нам о Ваших бизнес-задачах и мы предложим наиболее оптимальное решение &bull;</h1>
{{else}}    
    <h1 class="form-title">&bull; Tell us about Your business tasks and we will offer the most optimal solution &bull;</h1>
{{/if}}    
<div class="underline">
    </div>
    <div class="form-contact">

    <div class="content-form">

<div class="inbox">
  <div class="cover"></div>
  <div class="envelope"></div>
  <div class="check"></div>
</div>
    
    </div>
{{#if rus}}    
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Ваше Имя" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="Ваш E-mail" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Ваш телефон" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Тема" name="subject" id="subject_input" required>
          <option disabled hidden selected>Тема</option>
          <option>Web-разработка</option><br>
          <option>Мобильная разработка</option><br>
          <option>Аутсорсинг</option><br>
          <option>Консалтинг</option><br>
          <option>Инфраструктурные проекты</option><br>
          <option>Партнерство</option><br>
          <option>Другое</option><br>
        </select>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="Вас интересует...." id="message_input" cols="30" rows="5" required></textarea>
      </div>


      <div class="checkbox">
        <div class="checkbox-blok">
        <label class="checkbox-control"></label>
        <input type="checkbox" name="Checkbox" value="yes" class="t-checkbox" data-tilda-req="1" required>
        <div class="checkboz-indicator" style="border-color:#ffffff;"></div>
        <div class="checkbox-labeltext" style="display: inline">Ознакомлен с 
          <a href="politics"> <u>Политикой в области обработки персональных данных</u>
          </a>
          и даю
          <a href="personal"> <u>согласие на их обработку</u>
          </a>
        </div>
        </label>
        </div>
      </div>


      <div class="submit">
        <input type="submit" value="Отправить" id="form_button" />
      </div>
    </form><!-- // End form -->
{{else}}
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Your name" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="Your E-mail" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Your phone" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Tema" name="subject" id="subject_input" required>
          <option disabled hidden selected>Tema</option>
          <option>Web development</option><br>
          <option>Mobile development</option><br>
          <option>Outsourcing</option><br>
          <option>Consulting</option><br>
          <option>Infrastructure project</option><br>
          <option>Partnership</option><br>
          <option>Else</option><br>
        </select>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="Interest you...." id="message_input" cols="30" rows="5" required></textarea>
      </div>


      <div class="checkbox">
        <div class="checkbox-blok">
        <label class="checkbox-control"></label>
        <input type="checkbox" name="Checkbox" value="yes" class="t-checkbox" data-tilda-req="1" required>
        <div class="checkboz-indicator" style="border-color:#ffffff;"></div>
        <div class="checkbox-labeltext" style="display: inline">Acquainted with
          <a href="politics"> <u>Personal data processing policy</u>
          </a>
          and I give
          <a href="personal"> <u>consent to their processing</u>
          </a>
        </div>
        </label>
        </div>
      </div>


      <div class="submit">
        <input type="submit" value="Send" id="form_button" />
      </div>
    </form><!-- // End form -->
{{/if}}    

  </div><!-- // End #container -->
  </div>

</section>

