
<div class="header_team">

<!--Content before waves-->
<div class="inner-header flex">
  <div class="title_section">
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="divider"></li>
        <li class="activ">Вакансии</li>
    </ul>

</div>
<!--Just the logo.. Don't mind this-->
<img class="fon-header_team" src="/img/imgfon3.png">
  </div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</div>
<!--Waves end-->




<section class="jobs">
        <p class="shapes-text">
              
            </p>
    <ul id="messages">

		<!-- 1 -->
		<li>
			<div class="infos">
				<img src="/images/client1.png" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					<strong>Frontend Developer JavaScript (React)</strong>
				</h3>
				<p>
                        <strong>Зона ответственности:</strong><br>

                        1. Разработка интерфейса приложения в рамках проекта, как на основании наших внутренних библиотек, так и open source решений;<br>
                        2. Разработка внутренних проектов;<br>
                        3. Возможно написание сервисов на Node.js.<br><br>
						<strong>Технологический стек проекта:</strong><br>
                        1. используем принцип Single Page Applications, через REST передаем данные на фронт;<br>
                        2. React/Redux;<br>
                        3. TypeScript;<br>
                        4. Webpack;<br>
                        5. Jira для организации;<br>
                        6. Git, Bitbucket для контроля версий;<br>
						7. Bamboo для Si.<br><br>
						<strong>Профессиональные требования:</strong><br>
						 <ul>
            <li class="jobs-content-text_ol">
               Опыт работы в аналогичной позиции от 2 лет в ИТ компаниях на проектах web-разработки;
            </li>
            <li class="jobs-content-text_ol">
                Практический опыт работы с указанным технологическим стеком, интерес к новым технологиям;
            </li>
            <li class="jobs-content-text_ol">
                Уметь верстать и оживлять интерфейс;
            </li>
            <li class="jobs-content-text_ol">
                Уметь работать с контролем версий Git;
            </li>
            <li class="jobs-content-text_ol">
                Глубокое понимание JavaScript, желательно node.js, а так же умение предложить и обосновать новую технологию – будет огромным плюсом;
            </li>
            <li class="jobs-content-text_ol">
                Уметь оценивать сроки работ и рассчитывать свои силы;
            </li>
            <li class="jobs-content-text_ol">
               Быть ответственным сотрудником и общаться в команде
            </li>
        </ul><br><br>
         <strong>Присылайте Ваше резюме по адресу:</strong><br>

               Мы обязательно свяжемся с вами!
				</p>
			</div>
		</li>
		<!-- 2 -->
		<!--<li>
			<div class="infos">
				<img src="/images/client2.png" alt=""  title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
                    <strong>Back-end developer</strong>
					<b>Oпыт работы c PHP, Javascript, Наличие разработанных проектов.<br>
                        Работа в офисе / Удаленно<br>
                        <strong>З/П по договоренности</strong>
                    </b>
				</h3>
				<p>
                        Обязанности:<br>

                        1. Разработка онлайн-сервисов ;<br>
                        2. Техническое сопровождение существующих сайтов;<br>
                        3. Оптимизация кода;<br>
                        4. Интеграция верстки;<br>
                        5. Написание и доработка новых модулей / компонентов;<br>
                        6. Участие в проектировании архитектуры онлайн-сервисов;<br>
                        7. Интеграция сайтов с различными сторонними сервисами;<br>
                        8. Работа в команде.<br><br>
                        <strong>Присылайте Ваше резюме по адресу:</strong><br>

Мы обязательно свяжемся с вами!
				</p>
			</div>
		</li>-->

		<!-- 3 -->
		<li>
			<div class="infos">
				<img src="/images/client3.png" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					<strong>JAVA DEVELOPER</strong>
				</h3>
				<p>
                        <strong>В обязанности будет входить:</strong><br>

                        1. Разработка Back-end части программного обеспечения на базе технологий Java Spring Framework и сопутствующих библиотек;<br>
                        2. Участие в принятии архитектурных решений;<br>
                        3. Написание unit-тестов;<br>
						4. Взаимодействие с командой аналитики и тестирования.<br><br>
						<strong>Технологический стек проекта:</strong><br>
                        1. Java 8 (Core, Concurrency, Collection, Generics, Lambda, Stream API);<br>
                        2. Spring Framework (Core, Web, Data, Security, Integration, Boot);<br>
                        3. ORM (JPA или Hibernate), SQL, RDBMS, PostgreSQL;<br>
                        4. Gradle или Maven;<br>
                        5. Git;<br>
                        6. Intellij IDEA, JIRA, GIT/Subversion, JUnit, TestNG, SoapUI, Bamboo.<br><br>
						<strong>Для этого важно:</strong><br>
						 <ul>
            <li class="jobs-content-text_ol">
               Опыт разработки на Java;
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с реляционными базами данных (PostgreSQL);
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с Hibernate, Spring Framework, Maven / Gradle;
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с системами контроля версий.
            </li>
        </ul>
		<strong>Вашим преимуществом будет являться:</strong><br>
						 <ul>
            <li class="jobs-content-text_ol">
               Опыт разработки на Java;
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с Spring Cloud / Eureka,
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с NoSQL;
            </li>
            <li class="jobs-content-text_ol">
                Опыт работы с Pentaho ETL, ESB WSO2, Apache Nifi, Flowable;
            </li>
			<li class="jobs-content-text_ol">
                Владение технологиями автоматизации тестирования
            </li>
			<li class="jobs-content-text_ol">
                Понимание принципов работы сетевых протоколов и технологий.
            </li>
        </ul><br><br>
         <strong>Присылайте Ваше резюме по адресу:</strong><br>

               Мы обязательно свяжемся с вами!
				</p>
			</div>
		</li>

		<!-- 4 -->
		<!--<li>
			<div class="infos">
				<img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					June Schreiber
					<b>CEO &amp; Founder</b>
				</h3>
				<p>
					Phasellus pharetra, libero sed egestas condimentum, ligula nibh cursus turpis, sed convallis odio lorem sit amet ligula. Suspendisse dapibus nibh nec augue placerat eleifend sit amet nec purus. Donec consectetur cursus quam eu bibendum. Nam est nisi, tincidunt mattis luctus sit amet, faucibus luctus odio. Nam placerat mauris libero. Integer fringilla nisl vitae velit lacinia eget sagittis diam feugiat. Ut et scelerisque dolor. Phasellus luctus tellus nec augue laoreet non suscipit orci condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eros felis, eleifend ut fringilla sit amet, vestibulum eu ligula. In venenatis aliquet tristique. Fusce tempor tincidunt adipiscing. In fermentum tincidunt purus eu tristique. Integer semper, eros et accumsan porta, purus arcu vehicula massa, quis facilisis nibh nisi non mi.
				</p>
			</div>
		</li>-->
	</ul>
</section>