
<div class="header_team">

<!--Content before waves-->
<div class="inner-header flex">
  <div class="title_section">
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="divider"></li>
        <li class="activ">Вакансии</li>
    </ul>

</div>
<!--Just the logo.. Don't mind this-->
<img class="fon-header_team" src="/img/imgfon3.png">
  </div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</div>
<!--Waves end-->




<section class="jobs">
        <h1 class="shapes-title">Работа у нас</h1>
        <p class="shapes-text">
              
            </p>
    <ul id="messages">

		<!-- 1 -->
		<li>
			<div class="infos">
				<img src="/images/client1.png" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					<strong>IT-аналитик</strong>
                    <b>Требуемый опыт работы: 3–6 лет<br>
                        Полная занятость, полный день<br>
                    <strong>З/П по договоренности</strong>
                    </b>
				</h3>
				<p>
                        Обязанности:<br>

                        1. Проведение обследования бизнес-процессов;<br>
                        2. Формирование бизнес-требований к автоматизированным системам;<br>
                        3. Составление/ согласование технических заданий в области автоматизации бизнес-процессов;<br>
                        4. Разработка проектной документации;<br>
                        5. Тестирование функциональности создаваемых автоматизированных систем;<br>
                        6. Участие в презентациях и встречах с заказчиками;<br>
                        7. Участие в сдаче работ Заказчику;<br>
                        8. Проведение обучения пользователей автоматизированных систем;<br>
                        9. Постановка задач.<br><br>
                        <strong>Присылайте Ваше резюме по адресу:</strong><br>

Мы обязательно свяжемся с вами!
				</p>
			</div>
		</li>
		<!-- 2 -->
		<li>
			<div class="infos">
				<img src="/images/client2.png" alt=""  title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
                    <strong>Back-end developer</strong>
					<b>Oпыт работы c PHP, Javascript, Наличие разработанных проектов.<br>
                        Работа в офисе / Удаленно<br>
                        <strong>З/П по договоренности</strong>
                    </b>
				</h3>
				<p>
                        Обязанности:<br>

                        1. Разработка онлайн-сервисов ;<br>
                        2. Техническое сопровождение существующих сайтов;<br>
                        3. Оптимизация кода;<br>
                        4. Интеграция верстки;<br>
                        5. Написание и доработка новых модулей / компонентов;<br>
                        6. Участие в проектировании архитектуры онлайн-сервисов;<br>
                        7. Интеграция сайтов с различными сторонними сервисами;<br>
                        8. Работа в команде.<br><br>
                        <strong>Присылайте Ваше резюме по адресу:</strong><br>

Мы обязательно свяжемся с вами!
				</p>
			</div>
		</li>

		<!-- 3 -->
		<li>
			<div class="infos">
				<img src="/images/client3.png" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					Lisa J. Escoto
					<b>webdesigner </b>
				</h3>
				<p>
					Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillum in occaecat adipisicing ullamco cillum in occaecat proident commodo in <a href="https://www.google.com">https://www.google.com</a>. 
				</p>
			</div>
		</li>

		<!-- 4 -->
		<li>
			<div class="infos">
				<img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
			</div>
			<div class="jobs-content">
				<h3>
					June Schreiber
					<b>CEO &amp; Founder</b>
				</h3>
				<p>
					Phasellus pharetra, libero sed egestas condimentum, ligula nibh cursus turpis, sed convallis odio lorem sit amet ligula. Suspendisse dapibus nibh nec augue placerat eleifend sit amet nec purus. Donec consectetur cursus quam eu bibendum. Nam est nisi, tincidunt mattis luctus sit amet, faucibus luctus odio. Nam placerat mauris libero. Integer fringilla nisl vitae velit lacinia eget sagittis diam feugiat. Ut et scelerisque dolor. Phasellus luctus tellus nec augue laoreet non suscipit orci condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eros felis, eleifend ut fringilla sit amet, vestibulum eu ligula. In venenatis aliquet tristique. Fusce tempor tincidunt adipiscing. In fermentum tincidunt purus eu tristique. Integer semper, eros et accumsan porta, purus arcu vehicula massa, quis facilisis nibh nisi non mi.
				</p>
			</div>
		</li>
	</ul>
</section>