<section>
    <div class="container">
        <div class="row">
        {{#if rus}}
        <h1 class="perconal-title">Согласие на обработку персональных данных</h1>
        {{else}}
        <h1 class="perconal-title">Consent to the processing of personal data</h1>
        {{/if}}
        {{#if rus}}
		<div class="wrap-content_perconal cf">
        <p class="wrap-content-text">Продолжая работу на сайте вы выражаете согласие OOО «Sorins Group» 
            (ИНН 7701004101, юридический адрес – 105082, г. Москва, ул. Большая Почтовая, дом 26В, строение 2) 
            на обработку своих персональных данных, а именно: фамилия, имя, отчество, номер телефона, адрес 
            электронной почты, в целях получения информации о продуктах, услугах и сервисах OOО «Sorins Group». 
            Указанное согласие действует до момента его отзыва.</p>
        <p class="wrap-content-text">Вы даете свое согласие на совершение следующих действий с указанными выше 
            персональными данными: сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, 
            использование, передачу, обезличивание, блокирование, удаление, уничтожение.</p>
        <p class="wrap-content-text">Предусматривается смешанная обработка ваших персональных данных 
            (неавтоматизированная – на бумажных носителях и автоматизированная – в информационных системах, 
            на электронных носителях).</p>
        <p class="wrap-content-text">Данное согласие может быть прекращено по вашему письменному заявлению, 
            содержание которого определяется частью 3 статьи 14 Федерального закона от 27 июля 2006 г. №152-ФЗ 
            «О персональных данных».</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        {{else}}
        <div class="wrap-content_perconal cf">
        <p class="wrap-content-text">By continuing to work on the site you agree to LLC "Sorin Group» 
            (INN 7701004101, legal address – 105082, Moscow, Bolshaya Pochtovaya street, 26V, building 2) 
            on processing of the personal data, namely: a surname, a name, a patronymic, phone number, the address 
                        e-mail, in order to obtain information about the products, services and services of "Sorin Group". 
            This consent is valid until its withdrawal.</p>
        <p class="wrap-content-text">You agree to do the following with the above 
            personal data: collection, recording, systematization, accumulation, storage, clarification, extraction, 
            use, transfer, depersonalization, blocking, deletion, destruction.</p>
        <p class="wrap-content-text">Mixed processing of your personal data is provided 
            (manual – on paper and automated – in information systems, 
            on electronic media.)</p>
        <p class="wrap-content-text">This agreement may be terminated by your written request, 
            the content of which is determined by part 3 of article 14 of the Federal law of July 27, 2006 №152-FZ 
            «On personal data.»</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        {{/if}}
         </div>
    </div>
</section>       