<section>
    <div class="container">
        <div class="row">
        <h1 class="perconal-title">Политика в области обработки персональных данных</h1>
		<div class="wrap-content_perconal cf">
        <h2 class="wrap-content-title">1. Назначение и область применения</h2>
        <p class="wrap-content-text">Настоящая Политика в области обработки персональных данных (далее — Политика) 
            разработана на основании ст.18.1 Федерального закона № 152-ФЗ «О персональных данных», 
            с учетом требований Конституции Российской Федерации, Конвенции Совета Европы о защите 
            физических лиц при автоматизированной обработке персональных данных, международных договоров 
            Российской Федерации, федеральных законов и иных нормативных правовых актов Российской 
            Федерации в области персональных данных.</p>
        <p class="wrap-content-text">Действие настоящей Политики распространяется на отношения по обработке и обеспечению безопасности 
            информации ограниченного доступа, относящейся в соответствии с законодательством Российской Федерации 
            к персональным данным (далее — ПДн).</p>
        <p class="wrap-content-text">Настоящая Политика определяет принципы, цели, порядок и условия обработки 
            ПДн работников ЗАО «КРОК инкорпорейтед» (далее — Компания) и иных субъектов, чьи ПДн обрабатываются 
            Компанией. В настоящей Политике содержатся положения об ответственности Компании и ее работников в 
            случае выявления нарушений обработки ПДн законодательству.</p>
        <p class="wrap-content-text">Настоящая Политика является общедоступным документом и опубликована на официальном 
            сайте Компании в сети Интернет.</p>
        <p class="wrap-content-text">Действие настоящей Политики не распространяется на отношения, возникающие при:</p>    
        <ul>
            <li class="wrap-content-text_item">
                организации хранения, комплектования, учета и использования содержащих персональные данные документов, 
                имеющих статус архивных документов в соответствии с законодательством об архивном деле в Российской Федерации,  
            </li>
            <li class="wrap-content-text_item">
                обработке персональных данных, отнесенных в установленном порядке к сведениям, 
            составляющим государственную тайну.
            </li>
        </ul>
        <p class="wrap-content-text">Положениями настоящей Политики руководствуются все работники Компании.</p>  
        <br>
        <br>
        <h2 class="wrap-content-title">2. Обозначения и сокращения</h2>
        <p class="wrap-content-text"><span>ПДн</span>	Персональные данные</p> 
        <p class="wrap-content-text"><span>ИСПДн</span> Информационная система персональных данных</p> 
        <p class="wrap-content-text"><span>НСД</span> Несанкционированный доступ</p> 
        <br>
        <br>
        <h2 class="wrap-content-title">3. Принципы обработки персональных данных</h2>
        <p class="wrap-content-text">Обработка ПДн осуществляется в Компании на основе следующих принципов:</p>  
        <ol>
            <li class="wrap-content-text_ol">
                обработка ПДн осуществляется на законной и справедливой основе;
            </li>
            <li class="wrap-content-text_ol">
                обработка ПДн ограничена достижением конкретных, заранее определенных и законных целей;
            </li>
            <li class="wrap-content-text_ol">
                Компания не обрабатывает ПДн, несовместимые с целями сбора персональных данных;
            </li>
            <li class="wrap-content-text_ol">
                Компания разделяет базы данных, содержащие ПДн, обработка которых осуществляется в целях, несовместимых между собой;
            </li>
            <li class="wrap-content-text_ol">
                Компания обрабатывает только ПДн, которые отвечают целям их обработки;
            </li>
            <li class="wrap-content-text_ol">
                содержание и объем обрабатываемых ПДн соответствуют заявленным целям обработки;
            </li>
            <li class="wrap-content-text_ol">
                обрабатываемые ПДн не являются избыточными по отношению к заявленным целям их обработки;
            </li>
            <li class="wrap-content-text_ol">
                при обработке ПДн обеспечиваются точность ПДн, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки ПДн.
            </li>
            <li class="wrap-content-text_ol">
                принимаются необходимые меры либо обеспечиваться их принятие по удалению или уточнению неполных или неточных ПДн;
            </li>
            <li class="wrap-content-text_ol">
                хранение ПДн осуществляется в форме, позволяющей определить субъекта ПДн, не дольше, чем этого требуют цели обработки ПДн, 
                если срок хранения ПДн не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по 
                которому является субъект ПДн;
            </li>
            <li class="wrap-content-text_ol">
                обрабатываемые ПДн уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих 
                целей, если иное не предусмотрено федеральным законом.
            </li>
        </ol>
        </div>
        </div>
</div>
</section>