<section>
    <div class="container">
        <div class="row">
        {{#if rus}}
        <h1 class="perconal-title">Политика в области обработки персональных данных</h1>
        {{else}}
        <h1 class="perconal-title">Personal data processing policy</h1>
        {{/if}}
        {{#if rus}}
		<div class="wrap-content_perconal cf">
        <h2 class="wrap-content-title">1. Назначение и область применения</h2>
        <p class="wrap-content-text">Настоящая Политика в области обработки персональных данных (далее — Политика) 
            разработана на основании ст.18.1 Федерального закона № 152-ФЗ «О персональных данных», 
            с учетом требований Конституции Российской Федерации, Конвенции Совета Европы о защите 
            физических лиц при автоматизированной обработке персональных данных, международных договоров 
            Российской Федерации, федеральных законов и иных нормативных правовых актов Российской 
            Федерации в области персональных данных.</p>
        <p class="wrap-content-text">Действие настоящей Политики распространяется на отношения по обработке и обеспечению безопасности 
            информации ограниченного доступа, относящейся в соответствии с законодательством Российской Федерации 
            к персональным данным (далее — ПДн).</p>
        <p class="wrap-content-text">Настоящая Политика определяет принципы, цели, порядок и условия обработки 
            ПДн работников ЗАО «КРОК инкорпорейтед» (далее — Компания) и иных субъектов, чьи ПДн обрабатываются 
            Компанией. В настоящей Политике содержатся положения об ответственности Компании и ее работников в 
            случае выявления нарушений обработки ПДн законодательству.</p>
        <p class="wrap-content-text">Настоящая Политика является общедоступным документом и опубликована на официальном 
            сайте Компании в сети Интернет.</p>
        <p class="wrap-content-text">Действие настоящей Политики не распространяется на отношения, возникающие при:</p>    
        <ul>
            <li class="wrap-content-text_item">
                организации хранения, комплектования, учета и использования содержащих персональные данные документов, 
                имеющих статус архивных документов в соответствии с законодательством об архивном деле в Российской Федерации,  
            </li>
            <li class="wrap-content-text_item">
                обработке персональных данных, отнесенных в установленном порядке к сведениям, 
            составляющим государственную тайну.
            </li>
        </ul>
        <p class="wrap-content-text">Положениями настоящей Политики руководствуются все работники Компании.</p>  
        <br>
        <br>
        <h2 class="wrap-content-title">2. Обозначения и сокращения</h2>
        <p class="wrap-content-text"><span>ПДн</span>	Персональные данные</p> 
        <p class="wrap-content-text"><span>ИСПДн</span> Информационная система персональных данных</p> 
        <p class="wrap-content-text"><span>НСД</span> Несанкционированный доступ</p> 
        <br>
        <br>
        <h2 class="wrap-content-title">3. Принципы обработки персональных данных</h2>
        <p class="wrap-content-text">Обработка ПДн осуществляется в Компании на основе следующих принципов:</p>  
        <ol>
            <li class="wrap-content-text_ol">
                обработка ПДн осуществляется на законной и справедливой основе;
            </li>
            <li class="wrap-content-text_ol">
                обработка ПДн ограничена достижением конкретных, заранее определенных и законных целей;
            </li>
            <li class="wrap-content-text_ol">
                Компания не обрабатывает ПДн, несовместимые с целями сбора персональных данных;
            </li>
            <li class="wrap-content-text_ol">
                Компания разделяет базы данных, содержащие ПДн, обработка которых осуществляется в целях, несовместимых между собой;
            </li>
            <li class="wrap-content-text_ol">
                Компания обрабатывает только ПДн, которые отвечают целям их обработки;
            </li>
            <li class="wrap-content-text_ol">
                содержание и объем обрабатываемых ПДн соответствуют заявленным целям обработки;
            </li>
            <li class="wrap-content-text_ol">
                обрабатываемые ПДн не являются избыточными по отношению к заявленным целям их обработки;
            </li>
            <li class="wrap-content-text_ol">
                при обработке ПДн обеспечиваются точность ПДн, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки ПДн.
            </li>
            <li class="wrap-content-text_ol">
                принимаются необходимые меры либо обеспечиваться их принятие по удалению или уточнению неполных или неточных ПДн;
            </li>
            <li class="wrap-content-text_ol">
                хранение ПДн осуществляется в форме, позволяющей определить субъекта ПДн, не дольше, чем этого требуют цели обработки ПДн, 
                если срок хранения ПДн не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по 
                которому является субъект ПДн;
            </li>
            <li class="wrap-content-text_ol">
                обрабатываемые ПДн уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих 
                целей, если иное не предусмотрено федеральным законом.
            </li>
        </ol>
        <br>
        <br>
        <h2 class="wrap-content-title">4. Цели обработки персональных данных</h2> 
          <p class="wrap-content-text">Компания осуществляет обработку персональных данных в целях осуществления деятельности Компании согласно 
              законодательству Российской Федерации и Уставу Компании.</p>      
        <br>
        <br>
        <h2 class="wrap-content-title">5. Категории субъектов персональных данных</h2>    
          <p class="wrap-content-text">Субъектами, ПДн которых обрабатываются в Компании с использованием средств автоматизации или без 
              использования таковых, являются:</p> 
              <ul>
                  <li class="wrap-content-text_item">
                      кандидаты на работу в Компании;
                  </li>
                  <li class="wrap-content-text_item">
                      работники Компании и члены их семей (супруги и близкие родственники);
                  </li>
                  <li class="wrap-content-text_item">
                      лица, имевшие ранее трудовые отношения с Компанией;
                  </li>
                  <li class="wrap-content-text_item">
                      лица, имеющие гражданско-правовой характер договорных отношений с 
                      Компанией, или находящиеся на этапе преддоговорных или выполненных отношений подобного характера;
                  </li>
                  <li class="wrap-content-text_item">
                      лица, проходящие различного рода практику (стажировку) в Компании;
                  </li>
                  <li class="wrap-content-text_item">
                      акционеры Компании;
                  </li>
                  <li class="wrap-content-text_item">
                      контрагенты Компании, представленные индивидуальными 
                      предпринимателями, их работниками; учредителями, руководителями, представителями (лицами, 
                      действующими на основании доверенностей) и работниками юридических лиц, имеющих или имевших 
                      договорные отношения с Компанией, либо желающих заключить договоры с Компанией;
                  </li>
                  <li class="wrap-content-text_item">
                      посетители Компании;
                  </li>
                  <li class="wrap-content-text_item">
                      иные лица, обработка ПДн которых необходима Компании для осуществления целей, 
                      указанных в разделе 4 настоящей Политики.
                  </li>
              </ul> 
        <br>
        <br>
        <h2 class="wrap-content-title">6. Категории персональных данных</h2>    
          <p class="wrap-content-text">В Компании обрабатываются следующие категории ПДн:</p> 
          <ul>
            <li class="wrap-content-text_item">
              ПДн общей категории (иные ПДн), которые не могут быть отнесены к специальным 
              категориям персональных данных, к биометрическим персональным данным или к общедоступным ПДн;
            </li>  
            <li class="wrap-content-text_item">
               биометрические ПДн;
            </li>
            <li class="wrap-content-text_item">
               общедоступные ПДн.
            </li>
          </ul> 
        <br>
        <br>
        <h2 class="wrap-content-title">7. Состав лиц, организующих и участвующих в обработке и обеспечении 
            безопасности персональных данных</h2>    
          <p class="wrap-content-text">В Компании назначено лицо, ответственное за организацию обработки ПДн.</p> 
          <p class="wrap-content-text">В Компании назначено лицо, ответственное за обеспечение безопасности ПДн и ИСПДн.</p>
          <p class="wrap-content-text">В Компании назначены лица, ответственные за организацию обработки ПДн в структурных подразделениях.</p>
          <p class="wrap-content-text">В обработке ПДн в Компании участвуют работники в рамках выполнения своих должностных обязанностей.</p>     
        <br>
        <br>
        <h2 class="wrap-content-title">8. Обработка и обеспечение безопасности персональных данных</h2>   
        <h3 class="wrap-content-title-page">8.1 Обработка и порядок прекращения обработки персональных данных</h3> 
        <p class="wrap-content-text">Обработка ПДн в Компании допускается в следующих случаях:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                обработка ПДн осуществляется с согласия субъекта ПДн на обработку его ПДн.
            </li>
            <li class="wrap-content-text_ol">
                обработка ПДн необходима для исполнения договора, стороной которого либо 
                выгодоприобретателем или поручителем по которому является субъект ПДн, в том 
                числе в случае реализации оператором своего права на уступку прав (требований) 
                по такому договору, а также для заключения договора по инициативе субъекта ПДн 
                или договора, по которому субъект ПДн будет являться выгодоприобретателем или поручителем.
            </li>
            <li class="wrap-content-text_ol">
                обработка ПДн необходима для осуществления прав и законных интересов оператора или третьих лиц, 
                либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и 
                свободы субъекта ПДн.
            </li>
            <li class="wrap-content-text_ol">
                обработка ПДн осуществляется в статистических или иных исследовательских целях, при условии
                 обязательного обезличивания ПДн. Исключение составляет обработка ПДн в целях продвижения 
                 товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным 
                 потребителем с помощью средств связи, а также в целях политической агитации.
            </li>
            <li class="wrap-content-text_ol">
                осуществляется обработка ПДн, доступ неограниченного круга лиц к которым предоставлен субъектом 
                ПДн, либо по его просьбе.
            </li>
            <li class="wrap-content-text_ol">
                осуществляется обработка ПДн, подлежащих опубликованию или обязательному раскрытию в соответствии
                 с федеральным законом,
            </li>
            <li class="wrap-content-text_ol">
                а также обработка ПДн Компанией возможна в иных случаях, предусмотренных федеральным законодательством.
            </li>
        </ol>
        <p class="wrap-content-text">Включение Компанией ПДн субъектов в общедоступные источники ПДн возможно т
            олько в случае наличия требований федерального законодательства, либо в случае получения письменного 
            согласия субъекта ПДн.</p> 
        <p class="wrap-content-text">Компания осуществляет трансграничную передачу ПДн работников в целях исполнения 
            договорных обязательств с контрагентами только на в случае наличия письменного согласия субъекта ПДн.</p> 
        <p class="wrap-content-text">Компанией не осуществляется принятие решений, порождающих юридические 
            последствия в отношении субъекта ПДн или иным образом затрагивающих его права и законные интересы на 
            основании исключительно автоматизированной обработки ПДн</p> 
        <p class="wrap-content-text">Компания вправе поручить обработку ПДн другому лицу только с согласия субъекта 
            ПДн, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора 
            (далее — поручение оператора). При этом Компания обязывает лицо, осуществляющее обработку ПДн по поручению, 
            соблюдать принципы и правила обработки ПДн, предусмотренные федеральным законом. В случае если Компания 
            поручает обработку ПДн другому лицу, ответственность перед субъектом ПДн за действия указанного лица несет 
            Компания. Лицо, осуществляющее обработку ПДн по поручению Компании, несет ответственность перед Компанией.</p> 
        <p class="wrap-content-text">Компания обязуется и обязывает иных лиц, получивших доступ к ПДн не раскрывать 
            третьим лицам и не распространять ПДн без согласия субъекта ПДн, если иное не предусмотрено федеральным законом.</p> 
        <p class="wrap-content-text">Обработка Компанией ПДн прекращается в следующих случаях:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                достижение целей обработки ПДн;
            </li>
            <li class="wrap-content-text_ol">
                истечение срока обработки ПДн, предусмотренного федеральным законодательством, договором или согласием 
                субъекта ПДн на обработку его ПДн;
            </li>
            <li class="wrap-content-text_ol">
                при отзыве субъектом ПДн согласия на обработку его ПДн, в случаях, не противоречащих требованиям 
                федерального законодательства.
            </li>
        </ol>  
        <br>
        <h3 class="wrap-content-title-page">8.2 Сведения о реализуемых требованиях по защите персональных данных</h3>   
        <p class="wrap-content-text">Компания принимает все необходимые правовые, организационные и технические 
            меры при обработке ПДн для защиты ПДн от неправомерного или случайного доступа к ним, уничтожения, 
            изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных 
            действий в отношении ПДн.</p> 
        <p class="wrap-content-text">Реализуются меры по организации обработки и обеспечению безопасности ПДн, 
            обрабатываемых без средств автоматизации, в том числе:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                для каждой категории ПДн определены места хранения ПДн (материальных носителей) и установлен перечень лиц, 
                осуществляющих обработку ПДн и имеющих к ним доступ;
            </li>
            <li class="wrap-content-text_ol">
                обеспечено раздельное хранение ПДн (материальных носителей), обработка которых осуществляется в различных целях;
            </li>
            <li class="wrap-content-text_ol">
                соблюдаются условия, обеспечивающие сохранность ПДни исключающие несанкционированный к ним доступ при
                 хранении материальных носителей.
            </li>
        </ol> 
        <p class="wrap-content-text">Реализуются меры по защите ПДн при их обработке в информационных системах ПДн, 
            в том числе:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                определяется уровень защищенности ПДнпри их обработке в информационных системах;
            </li>
            <li class="wrap-content-text_ol">
                выполняются требования по защите ПДнв информационных системах ПДн в соответствии с определенными 
                уровнями защищенности ПДн;
            </li>
            <li class="wrap-content-text_ol">
                применяются необходимые средства защиты информации;
            </li>
            <li class="wrap-content-text_ol">
                осуществляется оценка эффективности принимаемых мер по обеспечению безопасности ПДн до ввода в эксплуатацию ИСПДн;
            </li>
            <li class="wrap-content-text_ol">
                осуществляется учет машинных носителей ПДн;
            </li>
            <li class="wrap-content-text_ol">
                осуществляется обнаружение фактов НСД к ПДн и принятие необходимых мер;
            </li>
            <li class="wrap-content-text_ol">
                осуществляется восстановление ПДн, модифицированных или уничтоженных вследствие НСД к ним;
            </li>
            <li class="wrap-content-text_ol">
                устанавливаются правила доступа к ПДн, обрабатываемым в ИСПДн, а также обеспечивается 
                регистрация и учет действий, совершаемых с ПДн в ИСПДн, там, где это необходимо;
            </li>
            <li class="wrap-content-text_ol">
                контролируются принимаемые меры по обеспечению безопасности ПДн и уровень защищенности ИСПДн.
            </li>
        </ol> 
        <br>
        <br>
        <h2 class="wrap-content-title">9. Нарушение политики и ответственность</h2> 
         <p class="wrap-content-text">Компания несет ответственность за соответствие обработки и обеспечение 
             безопасности персональных данных законодательству. Все работники Компании, осуществляющие обработку 
             персональных данных, несут ответственность за соблюдение настоящей Политики и иных локальных актов 
             Компании по вопросам обработки и обеспечению безопасности персональных данных.</p> 
         <p class="wrap-content-text">Любой работник, которому стало известно о нарушении настоящей Политики или 
             который подозревает о существовании такого нарушения, должен сообщить об этом лицу, ответственному за 
             организацию обработки ПДн, в соответствии с существующими в Компании процедурами.</p> 
         <p class="wrap-content-text">Любые нарушения настоящей Политики и иных локальных актов Компании по вопросам 
             обработки и обеспечению безопасности персональных данных будут расследоваться в соответствии с 
             действующими в Компании процедурами.</p> 
         <p class="wrap-content-text">Лица, признанные виновными в нарушении установленных порядка и процедур 
             обработки и обеспечения безопасности персональных данных, могут быть привлечены к дисциплинарной, 
             материальной, гражданско-правовой, административной и уголовной ответственности в порядке, установленном 
             законодательством Российской Федерации.</p> 
             <br>
             <br>
             <br>
             <br> 
        </div>
    {{else}}
    		<div class="wrap-content_perconal cf">
        <h2 class="wrap-content-title">1. Purpose and scope</h2>
        <p class="wrap-content-text">This Policy in the field of personal data processing (hereinafter — the Policy) 
            developed on the basis of Art. 18.1 of the Federal law № 152-FZ "On personal data», 
            taking into account the requirements of the Constitution of the Russian Federation, the Council of Europe 
            of individuals with regard to automatic processing of personal data, international treaties 
            Of the Russian Federation, Federal laws and other regulatory legal acts of the Russian Federation 
            Federation in the field of personal data.</p>
        <p class="wrap-content-text">The effect of this Policy shall apply to the processing and security 
            limited access information related to the legislation of the Russian Federation 
            to personal data (hereinafter — PD).</p>
        <p class="wrap-content-text">This Policy defines the principles, objectives, procedure and conditions of processing 
            PD RABOTNIKOV ZAO "CROC incorporated" (hereinafter — the Company), and other subjects whose personal data are processed 
            Company. This Policy contains provisions on the liability of the Company and its employees in 
            in case of violations of PD processing legislation.</p>
        <p class="wrap-content-text">This Policy is a public document and published on the official 
            the company's website on the Internet.</p>
        <p class="wrap-content-text">This Policy does not apply to the relations arising from:</p>    
        <ul>
            <li class="wrap-content-text_item">
                organization of storage, acquisition, accounting and use of documents containing personal data, 
                having the status of archival documents in accordance with the legislation on archival business in the Russian Federation,  
            </li>
            <li class="wrap-content-text_item">
                processing of personal data referred to the information in the prescribed manner, 
            constituting a state secret.
            </li>
        </ul>
        <p class="wrap-content-text">The provisions of this Policy are governed by all employees of the Company.</p>  
        <br>
        <br>
        <h2 class="wrap-content-title">2. Principles of personal data processing</h2>
        <p class="wrap-content-text">processing of personal data is carried out in the Company on the basis of the following principles:</p>  
        <ol>
            <li class="wrap-content-text_ol">
                processing of personal data is carried out on a legal and fair basis;
            </li>
            <li class="wrap-content-text_ol">
                the processing of personal data is limited to the achievement of specific, predetermined and legitimate goals;
            </li>
            <li class="wrap-content-text_ol">
                the company does not process personal data incompatible with the purposes of collecting personal data;
            </li>
            <li class="wrap-content-text_ol">
                the company shares databases containing personal data, the processing of which is carried out for purposes incompatible with each other;
            </li>
            <li class="wrap-content-text_ol">
                the company processes only personal data that meet the purposes of their processing;
            </li>
            <li class="wrap-content-text_ol">
                the content and volume of personal data processed correspond to the stated purposes of processing;
            </li>
            <li class="wrap-content-text_ol">
                processed personal data are not excessive in relation to the stated purposes of their processing;
            </li>
            <li class="wrap-content-text_ol">
                when processing personal data, the accuracy of personal data, their sufficiency, and, where necessary, relevance in relation to the purposes of processing personal data are ensured.
            </li>
            <li class="wrap-content-text_ol">
                necessary measures are taken or ensured to delete or clarify incomplete or inaccurate personal data;
            </li>
            <li class="wrap-content-text_ol">
                storage of personal data is carried out in a form that allows to determine the subject of personal data, no longer than required by the purpose of processing personal data, 
                if the term of storage of personal data is not established by the Federal law, the contract, the party to which, the beneficiary or the guarantor 
                which is the subject of personal data;
            </li>
            <li class="wrap-content-text_ol">
                the processed personal data are destroyed or depersonalized upon achievement of the purposes of processing or in case of loss of need for achievement of these purposes. 
                goals, unless otherwise provided by Federal law.
            </li>
        </ol>
        <br>
        <br>
        <h2 class="wrap-content-title">3. Purposes of personal data processing</h2> 
          <p class="wrap-content-text">The company processes personal data in order to carry out the company's activities in accordance with 
              legislation of the Russian Federation and the Charter of the Company.</p>      
        <br>
        <br>
        <h2 class="wrap-content-title">4. Categories of personal data subjects</h2>    
          <p class="wrap-content-text">Subjects, personal data, which are processed in the Company using automation or without 
              the uses of such are:</p> 
              <ul>
                  <li class="wrap-content-text_item">
                      candidates for employment in the Company;
                  </li>
                  <li class="wrap-content-text_item">
                      company employees and their family members (spouses and close relatives);
                  </li>
                  <li class="wrap-content-text_item">
                      persons who previously had employment relations with the Company;
                  </li>
                  <li class="wrap-content-text_item">
                      persons having the civil nature of contractual relations with 
                      By the company, or at the stage of pre-contractual or executed relations of a similar nature;
                  </li>
                  <li class="wrap-content-text_item">
                      persons undergoing various types of practice (internship) in the Company;
                  </li>
                  <li class="wrap-content-text_item">
                      company's shareholder;
                  </li>
                  <li class="wrap-content-text_item">
                      contractors of the Company represented by individual 
                      entrepreneurs, their employees; founders, managers, representatives (persons, 
                      acting on the basis of powers of attorney) and employees of legal entities that have or had 
                      contractual relations with the Company or those wishing to enter into contracts with the Company;
                  </li>
                  <li class="wrap-content-text_item">
                      company visitors;
                  </li>
                  <li class="wrap-content-text_item">
                      other persons processing personal data which required the Company to achieve the objectives, 
                      specified in section 3 of this Policy.
                  </li>
              </ul> 
        <br>
        <br>
        <h2 class="wrap-content-title">5. Categories of personal data</h2>    
          <p class="wrap-content-text">The Company processes the following categories of personal data::</p> 
          <ul>
            <li class="wrap-content-text_item">
              General category of personal data (other personal data) that cannot be classified as special 
              categories of personal data, biometric personal data or publicly available personal data;
            </li>  
            <li class="wrap-content-text_item">
               biometric personal data;
            </li>
            <li class="wrap-content-text_item">
               public personal data.
            </li>
          </ul> 
        <br>
        <br>
        <h2 class="wrap-content-title">6. Composition of the persons organizing and participating in processing and providing 
            security of personal data</h2>    
          <p class="wrap-content-text">The Company has appointed a person responsible for the organization of personal data processing.</p> 
          <p class="wrap-content-text">The Company has appointed a person responsible for ensuring the security of personal data and personal data information system</p>
          <p class="wrap-content-text">The Company has appointed persons responsible for the organization of personal data processing in structural units.</p>
          <p class="wrap-content-text">Employees participate in the processing of personal data in the Company in the performance of their duties.</p>     
        <br>
        <br>
        <h2 class="wrap-content-title">7. Processing and security of personal data</h2>   
        <h3 class="wrap-content-title-page">7.1 Processing and termination of personal data processing</h3> 
        <p class="wrap-content-text">Processing of personal data in the Company is allowed in the following cases:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                processing of personal data is carried out with the consent of the personal data subject to the processing of his personal data.
            </li>
            <li class="wrap-content-text_ol">
                processing of personal data is necessary for the execution of the contract, the party to which either 
                beneficiary or guarantor of which is the subject of personal data, including 
                including in case of realization by the operator of the right to assignment of the rights (requirements) 
                under such agreement, as well as for the conclusion of the agreement on the initiative of the personal data subject 
                or a contract under which the subject of personal data will be the beneficiary or guarantor.
            </li>
            <li class="wrap-content-text_ol">
                processing of personal data is necessary to exercise the rights and legitimate interests of the operator or third parties, 
                or to achieve socially significant goals, provided that this does not violate the rights and 
                freedom of the subject of personal data.
            </li>
            <li class="wrap-content-text_ol">
                processing of personal data is carried out for statistical or other research purposes, provided that:
                 mandatory depersonalization of personal data. The exception is the processing of personal data for the purposes of promotion 
                 goods, works, services on the market through direct contacts with the potential 
                 the consumer by means of means of communication, and also for the purpose of political propaganda.
            </li>
            <li class="wrap-content-text_ol">
                processing of personal data is carried out, access of an unlimited number of persons to which is provided by the subject 
                personal data, or at his request.
            </li>
            <li class="wrap-content-text_ol">
                the processing of personal data subject to publication or mandatory disclosure in accordance with
                 with Federal law,
            </li>
            <li class="wrap-content-text_ol">
                as well as the processing of personal data by the Company is possible in other cases provided by Federal law.
            </li>
        </ol>
        <p class="wrap-content-text">The company's inclusion of personal data of subjects in public sources of personal data is possible 
        only if there are requirements of the Federal legislation, or in case of receipt of the written 
            consent of the personal data subject .</p> 
        <p class="wrap-content-text">The company carries out cross-border transfer of personal data of employees for the purpose of execution 
            contractual obligations with contractors only if there is a written consent of the personal data subject.</p> 
        <p class="wrap-content-text">The company does not make decisions that give rise to legal 
            consequences with respect to the subject of personal data or otherwise affecting his rights and legitimate interests in 
            on the basis of exclusively automated processing of personal data</p> 
        <p class="wrap-content-text">The company has the right to entrust the processing of personal data to another person only with the consent of the subject 
            Personal data, unless otherwise provided by the Federal law, on the basis of the contract concluded with this person 
            (further — the instruction of the operator). In this case, the Company obliges the person processing personal data on behalf of, 
            comply with the principles and rules of personal data processing provided by the Federal law. In case the Company 
            entrusts the processing of personal data to another person, the responsibility to the subject of personal data for the actions of the said person is 
            Company. The person processing personal data on behalf of the Company is responsible to the Company.</p> 
        <p class="wrap-content-text">The company undertakes and obliges other persons who have access to personal data not to disclose 
            third parties and not to distribute personal data without the consent of the subject of personal data, unless otherwise provided by Federal law.</p> 
        <p class="wrap-content-text">The processing of personal data by the Company is terminated in the following cases:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                achieving the goals of personal data processing;
            </li>
            <li class="wrap-content-text_ol">
                expiration of the period of personal data processing provided for by Federal law, agreement or consent 
                the subject of personal data for the processing of his / her personal data;
            </li>
            <li class="wrap-content-text_ol">
                when the subject of personal data withdraws consent to the processing of his / her personal data, in cases that do not contradict the requirements 
                federal legislation.
            </li>
        </ol>  
        <br>
        <h3 class="wrap-content-title-page">7.2 Information on the implemented requirements for the protection of personal data</h3>   
        <p class="wrap-content-text">The company accepts all necessary legal, organizational and technical 
            measures in the processing of personal data to protect personal data from unauthorized or accidental access to them, destruction, 
            modification, blocking, copying, provision, distribution, and other unlawful 
            actions in respect of personal data.</p> 
        <p class="wrap-content-text">Measures are implemented to organize the processing and security of personal data, 
            processed without automation equipment, including:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                for each category of personal data the places of storage of personal data (material carriers) are defined and the list of persons is established, 
                processing of personal data and having access to them;
            </li>
            <li class="wrap-content-text_ol">
                separate storage of personal data (material carriers) is provided, the processing of which is carried out for various purposes;

            </li>
            <li class="wrap-content-text_ol">
                the conditions ensuring the safety of personal data and excluding unauthorized access to them are observed.
                 storage of material carriers.
            </li>
        </ol> 
        <p class="wrap-content-text">Measures are implemented to protect personal data during their processing in the information systems of personal data, 
            among them:</p> 
        <ol>
            <li class="wrap-content-text_ol">
                the level of personal data security during their processing in information systems is determined;
            </li>
            <li class="wrap-content-text_ol">
                the requirements for the protection of personal data in the information systems of personal data in accordance with certain 
                levels of personal data protection;
            </li>
            <li class="wrap-content-text_ol">
                the necessary information security measures are applied;
            </li>
            <li class="wrap-content-text_ol">
                the effectiveness of measures taken to ensure the security of personal data before the commissioning of the 
                personal data information system is evaluated;
            </li>
            <li class="wrap-content-text_ol">
                accounting of personal data storage media is carried out;
            </li>
            <li class="wrap-content-text_ol">
                detection of the facts of unauthorized access to personal data and taking the necessary measures;
            </li>
            <li class="wrap-content-text_ol">
                personal data is recovered, modified or destroyed as a result of unauthorized access to them;
            </li>
            <li class="wrap-content-text_ol">
                the rules of access to personal data processed in the information system of personal data are established, as well as provided 
                registration and accounting of actions performed with personal data in the information system of personal data, where necessary;
            </li>
            <li class="wrap-content-text_ol">
                the measures taken to ensure the security of personal data and the level of protection of the information system of personal data are monitored.
            </li>
        </ol> 
        <br>
        <br>
        <h2 class="wrap-content-title">8. Policy violation and liability</h2> 
         <p class="wrap-content-text">The company is responsible for processing compliance and ensuring 
             personal data security legislation. All employees of the Company engaged in processing 
             personal data, are responsible for compliance with this Policy and other local acts 
             Companies on the processing and security of personal data.</p> 
         <p class="wrap-content-text">Any employee who becomes aware of a violation of this Policy or 
             who suspects the existence of such a violation must report it to the person responsible for 
             organization of PD processing in accordance with the existing procedures of the Company.</p> 
         <p class="wrap-content-text">Any violation of this Policy and other local acts of the Company on issues 
             the processing and security of personal data will be investigated in accordance with 
             operating procedures of the Company.</p> 
         <p class="wrap-content-text">Persons found guilty of violating established procedures and procedures 
             processing and security of personal data may be subject to disciplinary action., 
             material, civil, administrative and criminal liability in accordance with the procedure established 
             Russian Federation legislation.</p> 
             <br>
             <br>
             <br>
             <br> 
        </div>
    {{/if}}    
        </div>
</div>
</section>