
<div class="header_team">

<!--Content before waves-->
<div class="inner-header flex">
  <div class="title_section">
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="divider"></li>
        <li class="activ">Портфолио</li>
    </ul>

</div>
<!--Just the logo.. Don't mind this-->
<img class="fon-header_team" src="/img/imgfon5.png">
  </div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
</div>
<!--Waves end-->

<div class="case-study-gallery">
  <h1 class="title">Готовые проекты</h1>
 <!--<p>This is an example of a portfolio gallery. It has some simple hover transitions and is pretty rad.</p>-->
<div class="case-study study1">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">Геоинформационные системы</h2>
    <a class="case-study__link is-open" href="#">Подробнее</a>
  </div>
</div>
  
<div class="case-study study2">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">Системы управления информацией</h2>
    <a class="case-study__link" href="#">Подробнее</a>
  </div>
</div>
  
<div class="case-study study3">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">Системы автоматизации (CRM, ERP) </h2>
    <a class="case-study__link" href="#">Подробнее</a>
  </div>
</div>
  
<div class="case-study study4">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">IoT и инфраструктурные проекты</h2>
    <a class="case-study__link" href="#">Пoдробнее</a>
  </div>
</div>
  
<div class="case-study study5">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">WEB-порталы для исполнительной власти</h2>
    <a class="case-study__link" href="#">Подробнее</a>
  </div>
</div>
  
<div class="case-study study6">
  <div class="case-study__overlay">
  	<h2 class="case-study__title">IOS и Android приложения для субъектов РФ</h2>
    <a class="case-study__link" href="#">Пoдробнее</a>
  </div>
</div>
</div>



<!--form-->

<section class="section-form">
  <div id="container-form-content">
    <div class="content-form">
{{#if rus}}      
    <h1 class="form-title">&bull; Расскажите нам о Ваших бизнес-задачах и мы предложим наиболее оптимальное решение &bull;</h1>
{{else}}    
    <h1>&bull; Tell us about Your business tasks and we will offer the most optimal solution &bull;</h1>
{{/if}}    
    <div class="underline">
    </div>
    </div>
{{#if rus}}    
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Ваше Имя" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="Ваш E-mail" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Ваш телефон" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Тема" name="subject" id="subject_input" required>
          <option disabled hidden selected>Тема</option>
          <option>Web-разработка</option><br>
          <option>Мобильная разработка</option><br>
          <option>Аутсорсинг</option><br>
          <option>Консалтинг</option><br>
          <option>Инфраструктурные проекты</option><br>
          <option>Партнерство</option><br>
          <option>Другое</option><br>
        </select>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="Вас интересует...." id="message_input" cols="30" rows="5" required></textarea>
      </div>


      <div class="checkbox">
        <div class="checkbox-blok">
        <label class="checkbox-control"></label>
        <input type="checkbox" name="Checkbox" value="yes" class="t-checkbox" data-tilda-req="1" required>
        <div class="checkboz-indicator" style="border-color:#ffffff;"></div>
        <div class="checkbox-labeltext" style="display: inline">Ознакомлен с 
          <a href="politics"> <u>Политикой в области обработки персональных данных</u>
          </a>
          и даю
          <a href="personal"> <u>согласие на их обработку</u>
          </a>
        </div>
        </label>
        </div>
      </div>


      <div class="submit">
        <input type="submit" value="Отправить" id="form_button" />
      </div>
    </form><!-- // End form -->
{{else}}
    <form action="#" method="post" id="contact_form">
      <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Your name" name="name" id="name_input" required>
      </div>
      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="Your E-mail" name="email" id="email_input" required>
      </div>
      <div class="telephone">
        <label for="name"></label>
        <input type="text" placeholder="Your phone" name="telephone" id="telephone_input" required>
      </div>
      <div class="subject">
        <label for="subject"></label>
        <select placeholder="Tema" name="subject" id="subject_input" required>
          <option disabled hidden selected>Tema</option>
          <option>Web development</option><br>
          <option>Mobile development</option><br>
          <option>Outsourcing</option><br>
          <option>Consulting</option><br>
          <option>Infrastructure project</option><br>
          <option>Partnership</option><br>
          <option>Else</option><br>
        </select>
      </div>
      <div class="message">
        <label for="message"></label>
        <textarea name="message" placeholder="Interest you...." id="message_input" cols="30" rows="5" required></textarea>
      </div>


      <div class="checkbox">
        <div class="checkbox-blok">
        <label class="checkbox-control"></label>
        <input type="checkbox" name="Checkbox" value="yes" class="t-checkbox" data-tilda-req="1" required>
        <div class="checkboz-indicator" style="border-color:#ffffff;"></div>
        <div class="checkbox-labeltext" style="display: inline">Acquainted with
          <a href="politics"> <u>Personal data processing policy</u>
          </a>
          and I give
          <a href="personal"> <u>consent to their processing</u>
          </a>
        </div>
        </label>
        </div>
      </div>


      <div class="submit">
        <input type="submit" value="Send" id="form_button" />
      </div>
    </form><!-- // End form -->
{{/if}}    

  </div><!-- // End #container -->

</section>
